build
node_modules
bower_components
/public/hot
/public/storage
composer.phar
/.idea
/.vagrant
/vendor/*
npm-debug.log
.env
.phpstorm.meta.php
_ide_helper.php
/python/ghostdriver.log
/python/*.pyc
sftp-config.json
.vscode/ftp-sync.json
.ftpconfig
/public/uploads
/resources/script/*.js
/public/vendor/script/*.js
